.App {
  text-align: center;
  min-height: 100vh;
  background: #c0c0c0;
  font-family: "Nineteen Ninety Three", monospace;
  padding: 0;
  display: flex;
  flex-direction: row;
  image-rendering: pixelated;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
}

 body {
  background: #c0c0c0;
  overflow-x: hidden;
  font-family: "Nineteen Ninety Three", monospace;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 8px;
  gap: 8px;
  align-items: flex-start;
  flex-direction: row;
}  

@import url('https://fonts.cdnfonts.com/css/nineteen-ninety-three');